.maindis {
  height: 100vh;
  width: 100wh;
  display: flex;
}
@media (max-width: 768px) {
  /* Hide NotesList in responsive mode */
  .maindis .NotesList {
    display: none;
  }
  /* Adjust the layout to stack NotesHome on top of HomeNotesDefault */
  .maindis {
    flex-direction: column;
    align-items: center;
  }
}
